@model MovieCustomerMvcAppWithAuthentication.ViewModel.NewCustomerViewModel
@{
    ViewBag.Title = "New";
}

<h2>New Customer</h2>
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:dd MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Customer.BirthDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), " ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) SubscribedToNewsLetter

        </label>
    </div>
    @Html.HiddenFor(m=>m.Customer.Id)
    @Html.AntiForgeryToken()
    @*<div>
            @Html.LabelFor(m=>m.IsSubscribedToNewsLetter)
            @Html.CheckBoxFor(m=>m.IsSubscribedToNewsLetter)
        </div>*@
     
    <button type="submit" class="btn btn-primary">Save</button>

}
@section scripts 
    {
    @Scripts.Render("~/bundles/jqueryval")
    }
    

