@model MovieCustomerMvcAppWithAuthentication.ViewModel.NewMovieViewModel
@{
    ViewBag.Title = "Create";
}

<h2>New Movie</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId,
        new SelectList(Model.GenreType, "Id", "GenreName"), " ",
        new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(a => a.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.ReleaseDate)
    </div>
                       <div>
                        @Html.LabelFor(a => a.NoOfStock)
                        @Html.TextBoxFor(m => m.NoOfStock, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.NoOfStock)
                    </div>

                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Save</button>
                }

